.header {
    margin-top: rem(25);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 25px;

    &__left {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: rem(26);
        line-height: rem(39);
        color: #5753A8;
    }

    &__nav {
        width: rem(380);

    }

    &__ul-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }


    &__link {
        text-decoration: none;
        font-family: 'Mulish';
        font-weight: 700;
        padding:rem(10) rem(27) rem(2) ;
        color: $header-color;
        transition: all ease 0.2s;
        margin-bottom: 0;
        display: inline-block;

        &--no-wrap {
            white-space: nowrap;
        }

    }

    &__link:hover {
        border-bottom: 2px $accent-color solid;
    }

    &__button {
        @include button (white, $accent-color);
        border: 2px solid $accent-color;
        transition: all ease 0.3s;
    }

    &__button:hover {
        @include button ($accent-color, white);
    }

    // &__hamburger{
    //     display: none;
    // }
    
    @media (max-width: $md) {
        .header {
            &__nav {
                display: none;
            }

            &__button {
                display: none;
            }

            // &__hamburger {
            //     display: inline-block;
            //     font-size: rem(24);
            //     color: $accent-color;
            //     border: 1px solid rgba(17, 17, 17, 0.303074);
            //     border-radius: rem(4);
            //     padding: rem(11) rem(12);
            // }
        }
    }
}